body {
  font-family: "Roboto";
}

.custom-text-success {
  color: #00ff00;
}

.todo-complete {
  text-decoration: line-through;
}

.bg-custom-cyan {
  background-color: #00bbce;
}

.custom-card {
  border: solid 2px #343a40;
  border-radius: 5px;
}
